{% extends 'header.html' %}
{% block content %}

<form action='' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Post Item'>
</form>

{% endblock %}
{% comment %} <form>
{% csrf_token %}
<div class="form-group">
    <label for="Title">Title</label>
    <input type="text" class="form-control"  placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input type="text" class="form-control"  placeholder="Enter description">
  </div>
  <div class="form-group">
    <label for="Address">Enter google maps address link</label>
    <input type="text" class="form-control"  placeholder="Enter description">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %} {% endcomment %}

{% comment %} 'title',
            'items',
            'description',
            'claimed',
            'address',
            'email', {% endcomment %}